body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:antiquewhite;
    text-align: center;
    padding: 20px;
}

h1{
    color: brown;
}

button{
    background-color:aqua;
    color: beige;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

}